{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block body %}
    <header class="bg-header h-32 text-white flex justify-around items-center fixed top-0 w-full z-50">
        <div>
            <img src="{{ asset('build/img/logo_color.png') }}" alt="logo">
        </div>
    </header>
{% endblock %}
