<form method="post" action="{{ path('app_borrow_delete', {'id': borrow.id}) }}" onsubmit="return confirm('Es tu sûr de vouloir supprimer?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ borrow.id) }}">
    <button class="btn mr-2 px-4 bg-delete text-black shadow shadow-black border border-black transform -skew-x-12">Supprimer</button>
</form>
