{{ form_start(form) }}
    {{ form_widget(form) }}
    <button class="btn my-4 mr-2 px-4 bg-button text-black shadow shadow-black border border-black transform -skew-x-12">{{ button_label|default('Ajouter') }}</button>
{{ form_end(form) }}
