<form method="post" action="{{ path('delete_library', {'id': library.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ library.id) }}">
    <button class="btn my-4 mr-2 px-4 bg-delete text-black shadow shadow-black border border-black transform -skew-x-12">Supprimer la biblitoheque</button>
</form>
