{% extends 'base.html.twig' %}

{% block title %}Edit ItemsCollection{% endblock %}

{% block body %}
    <h1>Edit ItemsCollection</h1>

    {{ include('item/_form.html.twig', {'button_label': 'Modifier'}) }}

    <a href="{{ path('app_items') }}">Revenir en arrière</a>

    {{ include('item/_delete_form.html.twig') }}
{% endblock %}
